body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Estilos CSS para la barra lateral */

.sidebar {
  background-color: #f0f0f0;
  width: 250px;
  padding: 20px;
  float: left;
  height: 100vh;

}

/* Estilos CSS para la barra lateral */
.sidebar {
  background-color: #f0f0f0;
  width: 250px;
  padding: 20px;
  float: left;
  height: 100vh;
  /* Es para que ocupe todo hasta abajo*/
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

/* PERSONALIZADOS */
.eleccion {
  margin-left: 1.25rem;
}

.precios {
  margin-right: 7.25rem;
}

.asd {
  margin-right: 0;
}

/* Productos */

/* Estilos para la sección de productos */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;


}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;

  /* Shadow */
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.product-image {
  max-width: 480px;
  max-height: 320px;
  height: auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;

}



/* PRODUCTO */
/* Estilos generales aquí */

.product-carousel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-images {
  width: 80%;
  margin-bottom: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.product-sidebar {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Menu Desplegable */

/* Estilos para los títulos de las categorías de filtros */

.category {
  margin-bottom: 15px;
}

.category-title {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  margin: 7px;
}

.category-content {
  display: none;
  margin-top: 10px;
}

.category-title.open+.category-content {
  display: block;
}

.number-input {
  width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.number-divider {
  margin-right: 5px;
}