/* Estilos para la sección de productos */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;


}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;

  /* Shadow */
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.product-image {
  max-width: 480px;
  max-height: 320px;
  height: auto;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;

}



/* PRODUCTO */
/* Estilos generales aquí */

.product-carousel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-images {
  width: 80%;
  margin-bottom: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.product-sidebar {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}